*.user
*.db
*.opendb
*.swp
*.suo

/ConfigTools/.vs/*
/ConfigTools/Debug/*
/ConfigTools/x64/*
/ConfigTools/ConfigTools/GeneratedFiles/*
/ConfigTools/ConfigTools/x64
/ConfigTools/ConfigTools/Debug/*

/Suede/.vs/*
/Suede/Debug/*
/Suede/x64/*
/Suede/Suede/GeneratedFiles/*
/Suede/Suede/x64/*
/Suede/Suede/Debug/*

/Suede/Engine/x64/*

