*.user
*.db
*.opendb
*.swp

/ConfigTools/.vs/*
/ConfigTools/Debug/*
/ConfigTools/x64/*
/ConfigTools/ConfigTools/GeneratedFiles/*
/ConfigTools/ConfigTools/x64
/ConfigTools/ConfigTools/Debug/*

/QMaze/.vs/*
/QMaze/Debug/*
/QMaze/x64/*
/QMaze/QMaze/GeneratedFiles/*
/QMaze/QMaze/x64
/QMaze/QMaze/Debug/*

